.announcements-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Установите 7 колонок по умолчанию */
    gap: 15px; /* Расстояние между превью */
    margin-top: 20px;
    margin-left: 4%; /* Положение по умолчанию */
    transition: margin-left 0.3s ease; /* Плавный переход для margin-left */
    overflow: hidden; /* Скрываем лишнее */
}


.show-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-more-button:hover {
    background-color: #0056b3;
}

.announcement-preview {
    transition: width 0.3s ease, height 0.3s ease; /* Плавный переход для ширины и высоты превью */
}

.filters-sidebar.open + .announcements-grid {
    grid-template-columns: repeat(6, 1fr); /* Уменьшаем до 6 колонок при открытии шторки */
    margin-left: 16%; /* Увеличиваем отступ слева */
}

.filters-sidebar:not(.open) + .announcements-grid {
    grid-template-columns: repeat(7, 1fr); /* Восстанавливаем 7 колонок при закрытии шторки */
    margin-left: 4%; /* Восстанавливаем отступ при закрытии шторки */
}

.announcement-preview {
    transition: transform 0.3s ease; /* Плавный переход для перемещения элементов */
}
