.announcements-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Установите 7 колонок по умолчанию */
    gap: 15px; /* Расстояние между превью */
    margin-top: 10vh;
    margin-left: 4%; /* Положение по умолчанию */
    transition: margin-left 0.3s ease; /* Плавный переход для margin-left */
}

.announcements-grid.with-back-button {
    margin-top: 1vh; /* Измените значение по своему усмотрению */
}


.show-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-more-button:hover {
    background-color: #333;
}

.announcement-preview {
    transition: width 0.3s ease, height 0.3s ease; /* Плавный переход для ширины и высоты превью */
}

.filters-sidebar.open + .announcements-grid {
    grid-template-columns: repeat(5, 1fr); /* Уменьшаем до 6 колонок при открытии шторки */
    margin-left: 16%; /* Увеличиваем отступ слева */
}

.announcements-grid.filter-open {
    grid-template-columns: repeat(5, 1fr); /* Уменьшаем до 5 колонок при открытии фильтра */
    margin-left: 16%;
}

.announcements-grid {
    grid-template-columns: repeat(6, 1fr); /* Восстанавливаем 6 колонок по умолчанию */
    margin-left: 4%;
}


.link {
    color: #ffffff; /* Белый цвет текста для темного фона */
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

.link:hover {
    color: #f39c12;
    border-bottom: 2px solid #f39c12;
}


.show-previous-button {
    background-color: #333; /* Замените цвет на нужный вам */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 46vw;
    margin-top: 10vh;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Выравнивание кнопок по горизонтали */
    align-items: center; /* Выравнивание кнопок по вертикали */
    margin-bottom: 20px; /* Отступ между кнопками и сеткой */
}
