.error-container {
    background-color: #2c2c2c; /* Темный фон */
    color: #f5f5f5; /* Светлый текст */
    padding: 20px; /* Отступы */
    border-radius: 10px; /* Закругленные углы */
    text-align: center; /* Центрирование текста */
    margin: 20px; /* Отступ сверху и снизу */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкая тень */
}

.loading-container {
    background-color: #2c2c2c; /* Темный фон */
    color: #f5f5f5; /* Светлый текст */
    padding: 20px; /* Отступы */
    border-radius: 10px; /* Закругленные углы */
    text-align: center; /* Центрирование текста */
    margin: 20px; /* Отступ сверху и снизу */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкая тень */
}

.remove-announcement-button {
    position: absolute;
    top: 5px;
    right: 40px;
    background-color: #ff4d4d; /* Красный цвет для кнопки удаления */
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.announcement-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.right-column {
    margin-top: 0.725%;
}

.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-actions {
    margin-top: 20px;
}

.confirm-button {
    background-color: #9c4141;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}