.filters-sidebar {
    position: absolute;
    top: 6%;
    left: -13%;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 999;
}

.filters-sidebar.open {
    left: 0;
}

filters-sidebar.closed {
}

.condition-title,
.rarity-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.condition-options,
.rarity-options {
    display: flex;
    flex-wrap: wrap;
}

.condition-button,
.rarity-button {
    background-color: #444; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.condition-button:hover,
.rarity-button:hover {
    background-color: #555; /* Цвет фона при наведении */
}

.condition-button.active,
.rarity-button.active {
    background-color: #888; /* Цвет фона для выбранной кнопки */
    transform: scale(1.05); /* Увеличение размера выбранной кнопки */
}

.menu-icon {
    width: 25px;
    height: 4px;
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.filters-content {
    margin-top: 40px;
}

.menu-toggleF {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 35px;
}

.menu-toggleF::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1); /* Цвет обводки меню */
}

.menu-toggleF::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border: 2px solid transparent;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.menu-toggleF:hover::after {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #fff;
}

.apply-button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Темный цвет фона */
    color: #fff; /* Цвет текста */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.apply-button:hover {
    background-color: #555; /* Цвет фона при наведении */
}

.apply-button:focus {
    outline: none;
}

.apply-button:active {
    transform: scale(0.95); /* Уменьшение размера при нажатии */
}

/* Новые стили для поиска тегов */
.tags-suggestions {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    border-radius: 5px;
    max-height: 150px; /* Ограничение высоты списка */
    overflow-y: auto;
}


.tag-item {
    padding: 8px 10px;
    margin: 8px;
    color: #fff; /* Цвет текста для тегов */
    cursor: pointer;
    transition: background-color 0.3s;
}

.tag-item:hover {
    background-color: #555; /* Цвет фона при наведении на тег */
}

.tag-item.selected {
    background-color: #888; /* Цвет фона для выбранного тега */
    font-weight: bold; /* Увеличение веса шрифта для выделенного тега */
}

.search-input-filter {
    margin-top: 5%;
    margin-bottom: 5%;
    flex-grow: 1;
    max-width: 300px;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid #555;
    background-color: #444;
    color: #fff;
    margin-right: 9%;
}

.selected-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.selected-tag {
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.remove-tag {
    background: none;
    border: none;
    color: #ffffff; /* Красный цвет для кнопки удаления */
    margin-left: 5px;
    cursor: pointer;
}

