.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* Выравнивание по краям */
    align-items: center;
    background-color: #383838;
    color: #fff;
    padding: 1vh 2vw;
    z-index: 100;
}

.button-container {
    display: flex; /* Используем flexbox для выравнивания кнопок */
    align-items: center; /* Вертикально центрируем кнопки */
    margin-left: auto; /* Выравнивание по правому краю */
}

.avatar {
    width: 40px; /* Устанавливаем фиксированную ширину */
    height: 40px; /* Устанавливаем фиксированную высоту */
    border-radius: 50%; /* Скругляем края для круглой формы */
    margin-right: 10px; /* Отступ справа от аватарки */
    object-fit: cover; /* Сохраняем пропорции изображения */
}

.menu-toggle {
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    white-space: nowrap; /* Предотвращаем перенос текста */
}

.menu-toggle::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1); /* Цвет обводки меню */
}

.menu-toggle::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border: 2px solid transparent;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.menu-toggle:hover::after {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #fff;
}

.menu {
    margin-top: 0.9%;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #444;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-item {
    display: block;
    width: calc(100% - 4px);
    padding: 8px;
    margin-bottom: 5px;
    background: none;
    color: #fff;
    text-align: left;
    cursor: pointer;
    border: 2px solid transparent;
    position: relative;
}

.menu-item::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border: 2px solid #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-item:hover::before {
    opacity: 1;
}

.menu-item:hover {
    background-color: #555;
}

.menu-item:focus {
    border-color: #fff;
}

.search-input {
    flex-grow: 1;
    max-width: 40vw; /* Ограничиваем ширину на больших экранах */
    min-width: 200px; /* Минимальная ширина */
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid #555;
    background-color: #444;
    color: #fff;
    margin-right: 20px;
    margin-left: 5vw;
}

.create-announcement-button {
    background-color: #555; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; /* Отступ справа от кнопки */
    white-space: nowrap; /* Предотвращаем перенос текста */
}

.create-announcement-button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}

/* Правила для экранов с шириной меньше 768px */
@media screen and (max-width: 768px) {
    .navigation-container {
        flex-direction: column;
        align-items: flex-start; /* Выравниваем элементы по левому краю */
        padding: 1vh 1vw; /* Меньшие отступы */
    }

    .menu-toggle {
        margin-left: auto; /* Оставляем меню справа */
    }

    .search-input {
        width: 100%; /* Растягиваем строку поиска по ширине */
        margin-right: 0; /* Убираем лишние отступы */
        margin-bottom: 10px; /* Отступ снизу для мобильных экранов */
    }

    .create-announcement-button {
        width: 100%; /* Растягиваем кнопку на 100% */
        margin-bottom: 10px; /* Отступ снизу */
    }

    .avatar {
        margin-left: auto; /* Перемещаем аватар вправо */
    }
}
