.preview-container {
    display: flex;
    flex-direction: column; /* Устанавливаем направление */
    align-items: center; /* Центрируем содержимое */
    background-color: #555;
    color: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 300px;
    text-align: center;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease, height 0.3s ease;
}

.preview-image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.3s ease; /* Плавный переход для высоты обертки изображений */
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Стили для кнопок перелистывания */
.preview-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}

.preview-arrow.left {
    left: 10px;
}

.preview-arrow.right {
    right: 10px;
}

/* Имя пользователя */
.preview-name {
    white-space: nowrap; /* Запрещаем перенос строки */
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

/* ID пользователя */
.preview-user {
    white-space: nowrap; /* Запрещаем перенос строки */
    font-size: 14px;
    margin-bottom: 10px;
    color: #ccc;
}

/* Контейнер для тэгов */
.preview-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.preview-tag {
    background-color: #333;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    margin-top: 5px;
}
